<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console 输出设置 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{40}: %m%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    <appender name="FILE_DEBUG_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>log/slite.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/slite.log.%d</fileNamePattern>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
            <MaxHistory>3</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d %p (%file:%line\)- %m%n
            </pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="console"/>
    </root>

    <root level="debug">
        <appender-ref ref="FILE_DEBUG_LOG" />
    </root>
</configuration>  